<h1> Prueba Técnica FRUBANA
<h2> Andrés Amaya Chaves

In [4]:
import pandas as pd

a = pd.read_csv('D:/prueba_entrevista.csv')
b = a.groupby(['user_name'])['subtotal'].sum().reset_index()
c = b.sort_values(by='subtotal', ascending=False)

a.head()

   order_index                 tag_name  ... et_departure  user_doc_type
0            9   moontransversal127cbis  ...          NaN             CC
1           10   moontransversal127cbis  ...          NaN             CC
2           11   moontransversal127cbis  ...          NaN             CC
3           12   moontransversal127cbis  ...          NaN             CC
4           16  restaurantecarrera20T35  ...          NaN             CC

[5 rows x 61 columns]

In [5]:
b.head()

                     user_name   subtotal
0            Dónde shery&tania   77974.34
1              Briass de ponse  408937.20
2       Comidas rápidas Cadena  127731.00
3   Comidas rápidas Happy Food  144905.60
4           Delicias  isamacal  311070.00

In [6]:
c.head()

                         user_name   subtotal
903   INVERSIONES INT COLOMBIA SAS  5070000.0
1418                  Pan de vida   3791832.0
1668            Panadería mundipan  3588420.0
2932                 donde  fausto  3573304.0
2796                     bocatelly  3493200.0

In [11]:
a.dtypes

order_index                          int64
tag_name                            object
address_description                 object
address_id                           int64
latitude                           float64
                                    ...
estimated_number_of_crates_real    float64
dispatch_warehouse                  object
et_arrival                          object
et_departure                        object
user_doc_type                       object
Length: 61, dtype: object

In [12]:
b.dtypes

user_name     object
subtotal     float64
dtype: object

In [9]:
a.payment_method.unique()

array(['CASH', 'PSE', 'CREDIT_CARD', 'FRUBANOS', 'CREDIT_FRUBANA',
       'ELECTRONIC_ADJUSTMENT', 'SMARTLINK'], dtype=object)

In [15]:

k = a[(a['status']==5) & (a['payment_method']=='CREDIT_CARD')]  
T = a[a['status']==5]
k.head()

      order_index          tag_name  ... et_departure  user_doc_type
2935          839    johncarrera69d  ...          NaN             CC
6097          587   marianacalle81a  ...          NaN             CC
6685          361  milenacarrera81b  ...          NaN             CC
6686          362  milenacarrera81b  ...          NaN             CC
6687          363  milenacarrera81b  ...          NaN             CC

[5 rows x 61 columns]

In [19]:
Prob = len(k)/ len(T)
print(Prob)
print('-------------------')
print('El ', round(Prob*100,2), '% de los pedidos cancelados fueron solicitados con tarjeta de crédito', sep='')

0.031914893617021274
-------------------
El 3.19% de los pedidos cancelados fueron solicitados con tarjeta de crédito

In [16]:
print(len(k))
T.head()

6

    order_index                 tag_name  ... et_departure  user_doc_type
7             3       tiendacarrera19T38  ...          NaN             CC
8            57  restaurantecarrera14T60  ...          NaN             CC
9            58  restaurantecarrera14T60  ...          NaN             CC
16           59                cremaac53  ...          NaN             CC
20           19  restaurantecarrera14T60  ...          NaN             CC

[5 rows x 61 columns]

In [20]:
print('Dado que un pedido fue cancelado, existe una probabilidad del ', round(Prob*100,2), '% de que este haya sido solicitado con tarjeta de crédito',sep='')

Dado que un pedido fue cancelado, existe una probabilidad del 3.19% de que este haya sido solicitado con tarjeta de crédito